[importlinter]
root_packages =
    apps
    config

[importlinter:contract:layers]
name = Module dependency levels
type = layers
layers =
    apps.adminconsole
    apps.directory | apps.memberarea | apps.feed
    apps.notifications
    apps.profiles | apps.startups
    apps.uploads
    apps.accounts | apps.integrations
    apps.audit | apps.analytics | apps.reference
    apps.core
